body {
    width: 80%;
    margin: 0 auto;
}

#banner {
    width: 100%;
}

#mybackground {
    padding: 25px;
    border-radius: 10px;
}


h2, h4 {
    text-align: center;
    font-weight: 100;
}

img {
    border-radius: 10px;
}
.card-group
{
  display: flex;                
  justify-content: center;      
  align-items: center;                     
}

#catContainer img, #dogContainer img, #birdContainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navbar {
    border: 1px solid #f1e9e9;
    border-radius: 10px;
    padding: 10px;
}